<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lifemanlab.shop.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.lifemanlab.shop.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(SELECT COUNT(ccSeq) FROM code WHERE 1=1 AND ccgSeq = codeGroup_ccgSeq) AS ccCount
		FROM codeGroup a
		WHERE 1=1
			<!-- AND ccgDelNy = 0 -->
			<!-- AND ccgName LIKE CONCAT('%',#{shValue},'%') -->
			<if test="shDelNy != null and !shDelNy.equals('')">AND ccgDelNy = #{shDelNy}</if>
			<choose>
				<!-- <when test="shDelNy == 0">AND ccgDelNy = 0</when> -->
				<!-- <when test="shDelNy == 1">AND ccgDelNy = 1</when> -->
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND ccgName LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM codeGroup a
		WHERE 1=1
			AND ccgSeq = #{ccgSeq}
	</select>
	
	
	<insert id="insert">
		INSERT INTO codeGroup (
			ccgName
			,ccgNameEng
			,ccgOrder
			,ccgUseNy
			,ccgDelNy
			,ccgRegDatetime
		)
		VALUES (
			#{ccgName}
			,#{ccgNameEng}
			,#{ccgOrder}
			,#{ccgUseNy}
			,#{ccgDelNy}
			,#{ccgRegDatetime}
		)
			<selectKey resultType="String" keyProperty="ccgSeq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	
	<update id="update">
		UPDATE codeGroup
		SET
			ccgName = #{ccgName}
			,ccgNameEng = #{ccgNameEng}
			,ccgOrder = #{ccgOrder}
			,ccgUseNy = #{ccgUseNy}
			,ccgDelNy = #{ccgDelNy}
			,ccgRegDatetime = #{ccgRegDatetime}
			<include refid="Base.updateModColumnValue" />
		WHERE
			ccgSeq = #{ccgSeq}
	</update>
	
	<update id="uelete">
		UPDATE codeGroup
		SET
			ccgDelNy = 1
			<include refid="Base.updateModColumnValue" />
		WHERE ccgSeq = #{ccgSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM codeGroup WHERE ccgSeq = #{ccgSeq}
	</delete>
	
	
</mapper>